.App {
  text-align: center;
  min-height: 100vh;
}

.App .appDashboard {
  height: 100vh
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: #161d20;
  border-left: 1px solid black;
}

::-webkit-scrollbar-thumb {
  background: #263238;
  border-radius: 10px;
  border-left: 1px solid black;
}

